.col-centered {
  float: none;
  margin: 0 auto;
}

.btn-xl {
  padding: 17px 40px;
}

.shade-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.33);
}

.intro-heading {
  font-size: 25px;
}
