// Home

.content {

  width: 100vw;
  height: auto;

  position: absolute;
  z-index: 8000;

  top: 20%;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  & > section {
    flex-grow: 50%;
  }

margin-left: 100%;
}



//.panel {
//
//  &-1 { left: 100vw; }
//  &-2 { left: 100vw; }
//  &-3 { left: 100vw; }
//  &-4 { left: 100vw; }
//
//}
