// Header Navigation Buttons

@keyframes navButton {

  0% {
    background-color: rgba(0,0,0,0.3);
    color: $white;
  }
  75% {
    background-color: rgba(255,255,255,1.0);
    color: $black;
  }
  100% {
    background-color: rgba(255,255,255,0.76);
    color: $black;
  }

}
