// COLOUR DEFINITIONS

$white                        : rgba(255,255,255,1.0);
$black                        : rgba(0,0,0,1.0);
$red                          : tomato;
$blue                         : rbga(138,186,221,1.0);
$green                        : rgba(86,176,147,1.0);

$brand-blue                   : #57728B; 
$brand-blue-deep              : rgba(49,87,112,1.0);
$brand-blue-light             : lighten($brand-blue, 88%);

$footer-default               : rgba(213,214,227,1.0);
