/// typography styles
@import url('https://fonts.googleapis.com/css?family=Dosis|Droid+Sans|Libre+Franklin');
// Font Variables
$Dosis                      : "Dosis", "Helvetica Neue", "Helvetica", sans-serif;
$Droid_Sans                 : "Droid Sans", "Helvetica Neue", "Helvetica", sans-serif;
$Libre_Franklin             : "Libre Franklin", "Helvetica Neue", "Helvetica", sans-serif;

// SECTION

body {
  font-family: $Dosis;
}

header {
  font-family: $Dosis;
  color: $white;

  &> .brand {
    font-family: $Libre_Franklin;
  }

  & a {
    color: $white;
    text-decoration: none;
    display: inline-block;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    outline: 0;
    transition: all 140ms ease-in-out;

    background-color: rgba(0, 0, 0,0.3);

    &:hover {
      animation: navButton 200ms ease-in-out;
      animation-iteration-count: 1;
    }
  }
}

//

footer {
  color: $footer-default;

  &.extended {
    background-color: $brand-blue-deep;
    color:$brand-blue-light;
  }
}
